<div class="text-center">
    <h2>Expense Accounts</h2>
</div>

<div class="account-list">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="account in accList.expenseAccounts">
            <td><a ui-sref="account-history({accountId: account._id})">{{account.name}}</a></td>
            <td>{{account.balance | currency}}</td>
            <td><button class="btn btn-default" ng-click="accList.logSpending(account._id)">Log Spend</button></td>
        </tr>
        <tr>
            <td>
                <strong>Total</strong>
            </td>
            <td>{{accList.getTotal() | currency}}</td>
            <td><button class="btn btn-primary" ng-click="accList.addAccount()">Add Account</button></td>
        </tr>
        </tbody>
    </table>
</div>
