<div class="text-center">
    <h2>Expense Accounts</h2>
</div>

<div class="account-list">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Balance</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="account in accList.expenseAccounts">
            <td>{{account.name}}</td>
            <td>${{account.balance}}</td>
            <td><button class="btn btn-default" ng-click="accList.logSpending(account._id)">Log Spend</button></td>
        </tr>
        </tbody>
    </table>
</div>