<div class="text-center">
    <h2>Monthly Bill Overview</h2>
</div>

<div class="bill-overview">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Next Due</th>
            <th>Name</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="bill in billOverview.bills | orderBy:'date'">
            <td>{{bill.date | date:short}}</td>
            <td>{{bill.name}}</td>
            <td>${{bill.amount}}</td>
            <td>{{bill.allocated | asAllocated}}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="text-center">
    <button class="btn btn-primary" ng-click="billOverview.manageBills()">Manage Bills</button>
</div>